@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'SUSE';
  src: url('/fonts/SUSE-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Définir la plage de poids si nécessaire */
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 226, 232, 240;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}


body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    0deg,
    rgb(var(--background-end-rgb)) 10%,
    rgb(var(--background-start-rgb)) 100%
  ); */
  background-color: #fdfdfd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800 font-title font-semibold uppercase; /* Appliquer une police en gras et une couleur de texte */
  }

  h1 {
    @apply text-6xl; /* Taille du texte pour <h1> et marge inférieure */
  }

  h2 {
    @apply text-4xl; /* Taille du texte pour <h2> et marge inférieure */
  }

  h3 {
    @apply text-2xl; /* Taille du texte pour <h3> et marge inférieure */
  }

  h4 {
    @apply text-xl; /* Taille du texte pour <h4> et marge inférieure */
  }

  h5 {
    @apply text-lg; /* Taille du texte pour <h5> et marge inférieure */
  }

  h6 {
    @apply text-base; /* Taille du texte pour <h6> et marge inférieure */
  }
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Assure-toi que la hauteur est définie */
  width: 100%;
}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-position: center;
  object-fit: cover; /* Ajuste l'image pour couvrir le conteneur sans déformation */
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Nombre de lignes à afficher avant troncature */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parallax {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}